body{
    background-color: aliceblue;
    padding: 10%;
    margin:auto;
    width:50%;

}

button{
    margin:auto;
    width:100px;
    

}

label{
    margin-top:2rem;
    padding:20px;
}

img{
    border: 1px black solid;
    margin-left: 10px;
}